// sublime text box
$color1: #E6E7E8;
$color2: #FF8F8F;
$color3: #404041;
$color4: #FF8F8F;
$color5: #5EC3AF;
$color6: #9E76B4;
$color7: #43C7F4;
$color8: #FFCC4E;


*, *:before, *:after {
  box-sizing: border-box;
}
// Macbook
.sublime-text {
  // margin: 60px auto 50px auto;
  width: 430px;
  padding-top: 10px;
  overflow: visible;
  transform: scale(0);
  animation: appear 1000ms ease-out forwards;

  .screen {
    position: relative;
    height: 335px;
    background-image: linear-gradient(to right bottom, #515153, #4b4b4d 10%, #464647 25%, #404042, #3b3b3c 90%, #313132);
    border-radius: 8px;
    color:white;
    font-size:30px;
    font-family:monospace;
    overflow:hidden;
    transform: rotate3d(.5,-.866,0,15deg) rotate(1.5deg);
    box-shadow: 27.1px 62.5px 125px -25px rgba(50,50,93,.5), 16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);

    .top-bar {
       width: 100%;
       height: 30px;
       position: absolute;
       margin-top: 0;
       background-color: $color1;
       border-radius: 7px 7px 0 0;

      .buttons {
        position: absolute;
        width: 8px;
        height: 8px;
        top:12px;
        background: $color4;
        border-radius: 50%;
        left: 22px;
        &:after, &:before {
          position: absolute;
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 50%;
        }
        &:after {
          left: 12px;
          background-color: $color5;
        }
        &:before {
          left: -12px;
          background-color: darken($color4, 20%);
        }
      }
    }

    .left-bar {
      height: 100%;
      width: 30px;
      position: absolute;
      padding-left:7px;
      background-color:darken($color3, 7%);
      border-radius: 10px 0 0 7px;

      &:after {
        position: absolute;
        top:32px;
        content: ". . . . . . . . . . . . .";
        color:lighten($color3, 10%);
        font-size:42px;
        line-height:21.5px;
      }
    }

    .code {
      position:absolute;
      margin: 10px 0 0 30px;

      .row {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 5px;
        position:relative;
        padding:8px;
        height:11px;
        p {
          // opacity:0;
          // position:relative;
          // display:inline-block;
          // width:90px;
          // height:8px;
          // background-color: white;
          // border-radius:4px;

          font-size: 13px;
          opacity:0;
          position:relative;
          display:inline-block;
          width: random(10) + 400px;

          // height:10px;
          // background-color: white;
          // border-radius:4px;

          & span.sub-gray {
            color: #8b8571;
          }

          & span.sub-red {
            color: #f73472;
          }

          & span.sub-green {
            color: #a6e341;
          }

          & span.sub-orange {
            color: #fa9d32;
          }

          & span.sub-yellow {
            color: #d6c571;
          }

          & span.sub-purple {
            color: #b993fb;
          }

          & span.sub-turquoise {
            color: #6cd8f4;
          }

          & span.sub-white {
            color: #f5fffe;
          }

          &.cursor {
            border-radius:0;
            margin-left:1px;
            background-color: $color1;
            width: 2px;
            height:16px;
            animation: blink 1s ease 4.6s infinite;

          }
        }
      }
    }

  }


} /* sublime text */

/* Input text animation */
$cont:0;
 @for $z from 1 through 13 {
    @for $i from 1 through 13 {
      .row#{$z}>p:nth-child(#{$i}) {
        $cont:400*$z + $i*100 + 600;
        animation: show-text 100ms ease #{$cont}ms forwards;
      }
    }
}

@keyframes blink {
    0% {
    opacity: 0;

  }
  100% {
    opacity: 1;
  }
}

@keyframes show-text {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes appear {
  0% {
    transform:scale(0);
  }
  50% {
    transform:scale(1.05)
  }
  75% {
    transform:scale(0.95)
  }
  100% {
   transform:scale(1)
  }
}
