// Color button
$white: #fff;
$purple: #83B3FB;
$light-purple: #A0C4FB;
// contenu header
.header {
  position:relative;
  padding-top: 60px;
  padding-right: 150px;
  padding-left: 150px;
  color: #2C4468;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  h1 {
    font-weight: 400;
    color: white;
  }
  h3 {
    color: white;
  }
  p {
    margin-top: 1.5em;
    color: #d9fcff;
  }
  p.text-intro {
    max-width: 500px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
  }
  a {
    // color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 17px;
  }
}

.header .header-content {
  max-width: 1040px;
}

// contenu first section
.section1 {
  position:relative;
  padding-top: 150px;
  padding-right: 150px;
  padding-left: 100px;
  color: #2C4468;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  h1 {
    font-weight: 400;
  }
  p {
    margin-top: 1.5em;
    color: #546583;
  }
  p.text-section1 {
    max-width: 500px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
  }
  a {
    // color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 17px;
  }
}

// button desin
.button {
  margin: 10px;
  height: 50px !important;
  line-height: 50px !important;
  padding: 0 40px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: $white;
  color: $purple;
  border-radius: 25px;
  font-size: 14px!important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  transition: all .15s ease;
  cursor: pointer;


  &:hover {
    color: $light-purple;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &--inverse {
    @extend .button;
    color: $white;
    background: $purple;

    &:hover {
      color: $white;
      background-color: $light-purple;
    }
  }
}

