.container .container-lg {
  max-width: 1040px;
}

// Color button
$white: #fff;
$purple: #83B3FB;
$light-purple: #A0C4FB;


// contenu header
.header {
  position:relative;
  padding-top: 80px;
  color: #2C4468;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  h1 {
    font-weight: 400;
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  h3 {
    color: white;
  }
  p {
    margin-top: 1.5em;
    color: #d9fcff;
  }
  p.text-intro {
    max-width: 500px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
  }
  a {
    // color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 17px;
  }
}

.header-content {
  padding-top: 20px;
}

// status info
.status {
  border-radius: 15px;
  background: rgba(0,0,140,.09);
  position: absolute;
  top: 14vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px 20px 4px 0px;
}

.status .pulse {
  float: left;
  margin: .55rem 1.25rem .55rem 15px
}

.pulse {
  margin:100px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #32cd32;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(204,169,44, 0.4);
  animation: pulse 1.5s infinite;
}
.pulse:hover {
  animation: none;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
      box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(204,169,44, 0);
      box-shadow: 0 0 0 0 rgba(204,169,44, 0);
  }
}

.status .status-text {
  color: #d9fcff;
  font-weight: 400;
  font-size: 14px;
  margin: 0 0 0 0;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  // line-height: 22px;
}


// contenu first section
.section1 {
  position:relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

// contenu text section
.section1-content {
  position:relative;
  padding-top: 200px;
  color: #2C4468;
  // display: flex;
  // align-items: center;
  // justify-content: flex-end;
  text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  h1 {
    font-weight: 400;
  }
  p {
    margin-top: 1.5em;
    color: #546583;
  }
  p.text-section1 {
    max-width: 500px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
  }
  a {
    // color: rgba(0,0,0,0.4);
    font-weight: bold;
    font-size: 17px;
  }
}

// contenu colonne gauche
.skills {
  position:relative;
}

.img-circle {
  // position:absolute;

  width: 160px;
  height: 160px;
  box-shadow: 27.1px 62.5px 125px -25px rgba(50,50,93,.5), 16.2px 37.5px 75px -37.5px rgba(0,0,0,.6);
}

// button desin
.button {
  margin: 10px;
  height: 50px !important;
  line-height: 50px !important;
  padding: 0 40px;
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
  background: $white;
  color: $purple;
  border-radius: 25px;
  font-size: 14px!important;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .025em;
  transition: all .15s ease;
  cursor: pointer;


  &:hover {
    color: $light-purple;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
  }

  &--inverse {
    @extend .button;
    color: $white;
    background: $purple;

    &:hover {
      color: $white;
      background-color: $light-purple;
    }
  }
}

