---
title: Portfolio - Ahmed Menouni
---

<div id="header">
  <div class="home-content">
    <h1>Ahmed Menouni</h1>
    <h3>Hey I'm Ahmed</h3>
    <p class="text-intro">I try to help startups to develop outstanding products. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <p><%= link_to "Know more", "#" %></p>
    <p><%= link_to "Get in touch", "#", :class => "btn button--inverse" %>
    <%= link_to "See my works", "#", :class => "btn button" %></p>
  </div>
</div>
