---
title: Portfolio - Ahmed Menouni
---

<div id="header">
  <div class="home-content">
    <h1>Ahmed Menouni</h1>
    <h2>Hey I'm Ahmed</h2>
    <p>
      Middleman is now running!
    </p>
    <p><%= link_to "Get in touch", "#" %></p>
  </div>
</div>
