---
title: Portfolio - Ahmed Menouni
---

<div id="header">
  <div class="home-content">
    <h1>Ahmed Menouni</h1>
    <h3>Hey I'm Ahmed</h3>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
    </p>
    <p>tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    <p><%= link_to "Get in touch", "#" %></p>
  </div>
</div>
